# Datatypes exercises

## Exercise 1

Write the following mathematical formula in Python:

\begin{align}
 result = 6a^3 - \frac{8b^2 }{4c} + 11
\end{align}

```python
a = 2
b = 3
c = 2
```

> write your formula as 
```python
result = 
```

It must verify
```python
>>> assert result == 50

In [13]:
a = 2
b = 3
c = 2
result = (6*pow(a,3))-((8*pow(b,2))/(4*c))+11
result

#assert result == 50

50.0

## Exercise 2

Explain why the folowing assertion fails

In [14]:
assert (0.1 + 0.2 == 0.3) # will cause assertion error
 # # will cause assertion error the cacul is with virgule flottante ou comme le calcul de la partie entiere;When you type the number 0.1 into the Python interpreter, it gets stored in memory as a floating-point number. There's a conversion that takes place when this happens. 0.1 is a decimal in base 10, but floating-point numbers are stored in binary. In other words, 0.1 gets converted from base 10 to base 2.

#The resulting binary number may not accurately represent the original base 10 number. 0.1 is one example. The binary representation is

#. That is, 0.1 is an infinitely repeating decimal when written in base 2. The same thing happens when you write the fraction ⅓ as a decimal in base 10. You end up with the infinitely repeating decimal

AssertionError: ignored

## Exercise 3

Write a Python program to sum all the items in a list

1.   Élément de liste
2.   Élément de liste

In [ ]:
#Code Here
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

sum_list([10, 20, -1])

-5

29

## Exercise 4

Write a program that asks how long it took to run 10 km today. The program continues to ask how long (in minutes) it took for additional runs, until the user enters q. At that point, the program exits — but only after calculating and displaying the average time that the 10 km run took.  


Example:
```
Enter 10 km run time: 15
Enter 10 km run time: 20
Enter 10 km run time: 10
Enter 10 km run time: q

Average of 15.0, over 3 runs
```

In [15]:
import numpy
def run_time():
    d = []
    time = int(input("Enter 10 km run time: "))
    while time != 'q':
        d.append(int(time))
        time = input("Enter 10 km run time: ")
        moyenne = len(d)
        m_d = sum(d)/len(d)
    print('Average of', m_d,',over' ,moyenne ,'runs')
    
run_time()

Enter 10 km run time: 10
Enter 10 km run time: 20
Enter 10 km run time: 15
Enter 10 km run time: q
Average of 15.0 ,over 3 runs

## Exercise 5

Write a function that takes a string and returns the sorted string.

In [7]:
def sort_string(s):

  A=''.join(sorted(s))
  return A

In [8]:
sort_string("cba")

'abc'

## Exercise 6

Write a function that take a string of multiple words and returns the position 
of the word with most repeated letters

In [17]:
def wwmrl(s):
    #Code Here
    words = s.split()
    max_ = 0
    for w in words:
        d1 = {}
        for l in w:
            if l not in d1:
                d1[l] = 1
            else:
                d1[l] += 1
            if d1[l]> max_:
                max_ = d1[l]     
    return max_ 

print(wwmrl('this is an elementary test example'))
#assert wwmrl(['this', 'is', 'an', 'elementary', 'test', 'example'])== 3

3

## Exercise 7

1. Create a tuple
2. Unpack the tuple in multiple variables

In [ ]:
S=2,3,'fifi'
print('Tuple: ',S)
(x,y,z)=S
print('x:',x)
print('y:',y)
print('z:',z)

Tuple:  (2, 3, 'fifi')
x: 2
y: 3
z: fifi

## Exercise 8

Write a Python program to sort a tuple by its float element.  
Sample data: `[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]`  
Expected Output: `[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]`

In [ ]:
lisstt= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(lisstt, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

## Exercise 9

Write a Python script to concatenate dictionaries to create a new one.

In [ ]:
"""Sample Dictionary"""
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
""""Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}"""

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## Exercise 10

Write a Python program to combine two dictionary adding values for common keys.

In [ ]:

d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}

d3 = dict(d1) 

d3.update(d2) 

for i, j in d1.items():

    for x, y in d2.items():

        if i == x:

            d3[i]=(j+y)

print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

## Exercise 11

\Write a Python program to extract values from a given dictionaries and create a list of lists from those values.

Original Dictionary:  
`[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]`  
Output:  
`[[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]`

In [ ]:
def test(dictt,keys):
    return [list(d[k] for k in keys) for d in dictt] 

students = [
        {'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, 
        {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'},
        {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, 
        {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, 
        {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}
        ]

print("\nOriginal Dictionary:")
print(students)
print("\nExtract values from the said dictionarie and create a list of lists using those values:")
print("\n",test(students,('student_id', 'name', 'class')))
print("\n",test(students,('student_id', 'name')))
print("\n",test(students,('name', 'class')))

Original Dictionary:
[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]

Extract values from the said dictionarie and create a list of lists using those values:

 [[1, 'Jean Castro', 'V'], [2, 'Lula Powell', 'V'], [3, 'Brian Howell', 'VI'], [4, 'Lynne Foster', 'VI'], [5, 'Zachary Simon', 'VII']]

 [[1, 'Jean Castro'], [2, 'Lula Powell'], [3, 'Brian Howell'], [4, 'Lynne Foster'], [5, 'Zachary Simon']]

 [['Jean Castro', 'V'], ['Lula Powell', 'V'], ['Brian Howell', 'VI'], ['Lynne Foster', 'VI'], ['Zachary Simon', 'VII']]